<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>

	<listener>
		<listener-class>listeners.myServletContestListener</listener-class>
	</listener>


	<!-- 过滤器的顺序要注意一下,初始化init(),销毁destroy() 及实际执行时doFilter时 是严格按照web.xml定义的顺序的,在过滤器链中也是按xml上定义的先后顺序排列的 -->
	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>Filters.EncodeFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>myServlet.HelloServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>


</web-app>
